.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: red;
  height: 20vh;
  padding: 1rem;
  position: relative;
}
.navbar h1 {
  color: white;
}

.nav-links {
  display: flex;
  gap: 1rem;
}
.nav-links a {
  color: red;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5%;
  transition: background 0.3s;
}
.nav-links a:hover {
  background-color: rgb(197, 197, 197);
}
.nav-links.active {
  display: flex;
  flex-direction: column;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.hamburger div {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 1rem 0;
    height: 200px;
  }
  .nav-links a {
    font-size: 20px;
    background-color: red;
    color: white;
    border-bottom: 2px solid white;
    padding: 1rem;
  }
  .nav-links .nav-links.active {
    display: flex;
  }
  .nav-links .nav-links.active.active {
    display: flex;
    flex-direction: column;
  }
  .hamburger {
    display: flex;
  }
  .navbar img {
    height: 80px;
  }
}
.index-footer {
  height: 20vh;
  background-color: #2D2D2D;
  display: flex;
  align-items: center;
  padding-left: 11vw;
}
.index-footer img {
  height: 150px;
}

.index-footer-content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .index-footer img {
    height: 100px;
  }
}
.index-main {
  height: 60vh;
  background-image: url(../imgs/Frame\ 1\ \(1\).png);
  width: 100vw;
  background-size: cover;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-main h1 {
  color: white;
  width: 600px;
}

.index-main-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.button-hero {
  width: 400px;
  padding: 0.5rem;
  font-size: 22px;
  text-align: left;
  color: white;
  background-color: red;
  border: none;
  font-weight: 500;
}
.button-hero:hover {
  background-color: rgb(168, 4, 4);
}

@media (max-width: 768px) {
  .index-main h1 {
    font-size: 20px;
    width: 300px;
  }
  .button-hero {
    width: 250px;
    font-size: 18px;
  }
}
.main-kit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 0.5rem;
  height: 60vh;
}
.main-kit-content h1 {
  color: red;
}
.main-kit-content img {
  height: 300px;
}
.main-kit-content p {
  width: 1000px;
  text-align: center;
}

@media (max-width: 768px) {
  .main-kit-content h1 {
    color: red;
    font-size: 25px;
    text-align: center;
    width: 400px;
  }
  .main-kit-content h1 img {
    height: 200px;
  }
  .main-kit-content h1 p {
    width: 350px;
    text-align: center;
    font-size: 15px;
  }
  .main-kit-content h1 h2 {
    font-size: 25px;
  }
}
.main-nosotros-all {
  display: flex;
  align-items: center;
  gap: 4rem;
  height: 60vh;
  justify-content: center;
}

.main-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main-nosotros img {
  height: 400px;
  width: 400px;
}

.main-nosotros-content {
  width: 400px;
  font-size: 21.5px;
}

.bolder {
  font-weight: bolder;
}

.rojo {
  color: red;
}

@media (max-width: 768px) {
  .main-nosotros-all {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60vh;
    align-items: center;
  }
  .main-nosotros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .main-nosotros img {
    height: 150px;
    width: 150px;
  }
  .main-nosotros h2 {
    font-size: 20px;
  }
  .main-nosotros-content {
    width: 300px;
    font-size: 13px;
    height: 160px;
    text-align: center;
  }
}
.main-content {
  display: flex;
  justify-content: space-evenly;
}

.form {
  max-width: 400px;
  margin: auto;
}

label {
  font-weight: bold;
  color: red;
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 22px;
}

input[type=text],
input[type=tel],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 28px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

input::placeholder,
textarea::placeholder {
  color: #c4c4c4;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}
button:hover {
  background-color: darkred;
}

.formulario-content {
  margin-left: 30%;
}

.main-content-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-content-contacto h1 {
  font-size: 40px;
}
.main-content-contacto p {
  font-size: 22px;
  color: red;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main-content-contacto h1 {
    font-size: 25px;
    text-align: center;
  }
  .main-content-contacto p {
    font-size: 18px;
    color: red;
    font-weight: 600;
    text-align: center;
  }
  input[type=text],
  input[type=tel],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 15px;
    box-sizing: border-box;
  }
  button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }
  label {
    font-weight: bold;
    color: red;
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 15px;
  }
}
.main-content {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.main-content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main-content-img {
  height: 311px;
  width: 415px;
}

.main-content-isotipo {
  height: 100px;
  width: 100px;
}

.main-content-p1 {
  font-weight: 700;
  font-size: larger;
}

@media (max-width: 768px) {
  .main-content {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .main-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .main-content-img {
    height: 155.5px;
    width: 207.5px;
  }
  .main-content-isotipo {
    height: 50px;
    width: 50px;
  }
  .main-content-p1 {
    font-weight: 700;
    font-size: medium;
  }
  .main-content-p2 {
    font-size: small;
    text-align: center;
  }
}
* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
